@use "../themes/duckquill/sass/mods/modern-headings";
@use "../themes/duckquill/sass/mods/modern-hr";

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "ss02";
}

#heading h1 {
  color: var(--accent-color);
  text-transform: uppercase;
}

#main-content p {
  text-align: justify;
}