{% if page.extra.bibliography %}
    {% set bibliography = page.extra.bibliography %}
{% else %}
    {{ throw(message = "No bibliography is set.") }}
{% endif %}
{% set citations = load_data(path=page.colocated_path ~ bibliography, format="bibtex", required=false) %}
{% if citations %}
    {% for bib in citations.bibliographies %}
        {% if bib.citation_key == key %}
            {% set_global num = loop.index %}
        {% endif %}
    {% endfor %}
    <a href="#bibref-{{ key }}" class="ref-link">[{{ num | default(value="#noref") }}]</a>
{% endif %}
