{% extends "duckquill/templates/base.html" %}

{% block content %}
<center></span></code></pre><div class="crt scanlines"><pre class=z-code><code><span class="z-text z-plain">           
                      @.........@                        
                  @................@                     
               @.....................@                   
              @........................@                 
            @............................@               
           @..............................@              
          @................................@             
         @.............................@@@@.@            
         @@@@@@........................@@.@@.@           
        @@@..@@@.......................@@..@@.@          
       @.@@..@@........................@@@@@@.@          
       @.@@@@@..........................@@@@@..@         
       @..@@@..................................@         
       @............@@@@@@@@@@@@@@............@          
       @..........@@@@@@@@@@@@@@@@@@@.........@          
       @..........@@@@@@@@@@@@@@@@@@@@........@          
        @........@@@@@@@@@@@@@@@@@@@@@.......@           
        @.........@@@@@@@@@@@@@@@@@@@@.....@             
          @........@@@@@@@@@@@@@@@@@@.....@              
            @............@@@@@@............@             
            @..................................@         
          @........@@@........@@@@................@      
       @..........@@..@@@@@@@@....@@................@    
     @............@................@@................@   
    @.............@................@@.................@  
   @...............@......@@@......@...................@ 
  @................@....@@....@...@....................@ 
 @..................@@@@.......@@@......................@
@.......................................................@
</span></code></pre></div>
<h1>Page Not Found</h1>

<p>The requested page could not be found.</p>

<p class="dialog-buttons">
  <a onclick="window.history.go(-1)" class="inline-button">Go Back</a>
  <a href="{{ config.extra.issues_url }}">File an issue</a>
</p></center>

{% endblock content %}
